In [5]:
import glob
import pandas as pd

In [334]:
pd.set_option('display.max_columns', 500)

In [2]:
!pwd

/Users/AnthonyCelio/ad/falcon/soy

In [3]:
path = '/Users/AnthonyCelio/ad/falcon/soy/'

In [9]:
glob.glob(path + '*.csv')

['/Users/AnthonyCelio/ad/falcon/soy/99_CentAmer_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/4_China_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/brazil_oil_gas BRL_TR_Index.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/99_Bolivia_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/US_brent.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/Cameroon_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/7_Canada_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/US_soybean_stats.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/World_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/brazil_soy_prices.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/Fut_soybean_CME.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/99_RussianF_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/corn-prices-historical-chart-data.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/5_India_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/Fut_soyoil_CME.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/Fut_soymeal_CME.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/2_Brazil_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/US_corn_stats.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/3_Argentina_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/1_US_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/6_Paraguay_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/99_Africa_soy_production.csv']

In [11]:
US = pd.read_csv(f'{path}1_US_soy_production.csv')

In [ ]:
119.518

In [ ]:
US.2016-12-31

In [13]:
US = US[['Date', 'Area harvested - ha', 'Production - tonnes']].copy()

In [16]:
US.rename(columns={'Area harvested - ha': 'US_Area', 'Production - tonnes': 'US_Production'}, inplace=True)

In [18]:
data = []

data.insert(0, {'Date': '2016-12-31', 'US_Area': 0, 'US_Production': 119518000})

In [20]:
data = pd.DataFrame(data)

In [21]:
data

         Date  US_Area  US_Production
0  2016-12-31        0      119518000

In [34]:
US_ = pd.concat([data, US], ignore_index=True)

In [36]:
US_.at[0, 'Date'] = '2017-12-31'

In [37]:
US_

          Date     US_Area  US_Production
0   2017-12-31         0.0    119518000.0
1   2016-12-31  33482430.0    117208380.0
2   2015-12-31  33123470.0    106953940.0
3   2014-12-31  33423750.0    106877870.0
4   2013-12-31  30858830.0     91389350.0
5   2012-12-31  30814720.0     82790870.0
6   2011-12-31  29856410.0     84291400.0
7   2010-12-31  31003300.0     90663290.0
8   2009-12-31  30906980.0     91469550.0
9   2008-12-31  30222650.0     80748700.0
10  2007-12-31  25959240.0     72859180.0
11  2006-12-31  30190680.0     87000620.0
12  2005-12-31  28834570.0     83506580.0
13  2004-12-31  29930060.0     85015630.0
14  2003-12-31  29330310.0     66782720.0
15  2002-12-31  29338810.0     75010030.0
16  2001-12-31  29532250.0     78671470.0
17  2000-12-31  29302790.0     75055290.0
18  1999-12-31  29318170.0     72223460.0
19  1998-12-31  28506770.0     74598180.0
20  1997-12-31  27968130.0     73175780.0
21  1996-12-31  25636710.0     64780440.0
22  1995-12-31  24906240.0     59173500.0
23  1994-12-31  24608790.0     68443520.0
24  1993-12-31  23191570.0     50885390.0
25  1992-12-31  23566310.0     59611670.0
26  1991-12-31  23476470.0     54064730.0
27  1990-12-31  22869008.0     52416000.0
28  1989-12-31  24033008.0     52350000.0
29  1988-12-31  23218000.0     42153008.0
30  1987-12-31  23136000.0     52737008.0
31  1986-12-31  23590000.0     52868000.0
32  1985-12-31  24922000.0     57128000.0
33  1984-12-31  26755008.0     50648000.0
34  1983-12-31  25302608.0     44518400.0
35  1982-12-31  28101808.0     59611104.0
36  1981-12-31  26774800.0     54436000.0
37  1980-12-31  27442608.0     48921904.0
38  1979-12-31  28466400.0     61526304.0
39  1978-12-31  25763776.0     50860000.0
40  1977-12-31  23402640.0     48097936.0
41  1976-12-31  19991600.0     35071008.0
42  1975-12-31  21697728.0     42139728.0
43  1974-12-31  20776672.0     33102464.0
44  1973-12-31  22527328.0     42117936.0
45  1972-12-31  18486992.0     34580864.0
46  1971-12-31  17281856.0     32008768.0
47  1970-12-31  17097328.0     30675152.0
48  1969-12-31  16728257.0     30838992.0
49  1968-12-31  16750110.0     30126976.0
50  1967-12-31  16108287.0     26574768.0
51  1966-12-31  14789000.0     25270000.0
52  1965-12-31  13941000.0     23014000.0
53  1964-12-31  12461000.0     19076000.0
54  1963-12-31  11580000.0     19028000.0
55  1962-12-31  11172000.0     18213008.0
56  1961-12-31  10928000.0     18468000.0

In [39]:
len('/Users/AnthonyCelio/ad/falcon/soy/')

34

In [ ]:
dig = ['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [53]:
csv = []
for k in glob.glob(path + '*.csv'):
    for i in dig:
        if str(i) == (k[34:35]):
            csv.append(k)
        else:
            pass

In [55]:
len('_CentAmer_soy')

13

In [56]:
37 + 13

50

In [66]:
csv

['/Users/AnthonyCelio/ad/falcon/soy/99_CentAmer_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/4_China_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/99_Bolivia_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/7_Canada_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/99_RussianF_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/5_India_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/2_Brazil_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/3_Argentina_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/1_US_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/6_Paraguay_soy_production.csv',
 '/Users/AnthonyCelio/ad/falcon/soy/99_Africa_soy_production.csv']

In [68]:
dfd = pd.read_csv(csv[0])

In [170]:
csv_t

['CentAmer_soy_production',
 'China_soy_production',
 'Bolivia_soy_production',
 'Canada_soy_production',
 'RussianF_soy_production',
 'India_soy_production',
 'Brazil_soy_production',
 'Argentina_soy_production',
 'US_soy_production',
 'Paraguay_soy_production',
 'Africa_soy_production']

In [169]:
csv_t = []
for i in csv:
    k = i[:-4]
    h = k[36:]
    if h[:1] == '_':
        csv_t.append(h[1:])
    else:
        csv_t.append(h)

In [163]:
'_CentAmer_soy_production'[1:]

'CentAmer_soy_production'

In [176]:
csv_t = set(csv_t)

In [271]:
len('/Users/AnthonyCelio/ad/falcon/soy/')

34

In [276]:
names = []

for i in csv:
    print (i[34:])
    names.append(i[34:])
names = set(names)

99_CentAmer_soy_production.csv
4_China_soy_production.csv
99_Bolivia_soy_production.csv
7_Canada_soy_production.csv
99_RussianF_soy_production.csv
5_India_soy_production.csv
2_Brazil_soy_production.csv
3_Argentina_soy_production.csv
1_US_soy_production.csv
6_Paraguay_soy_production.csv
99_Africa_soy_production.csv

In [277]:
names

{'1_US_soy_production.csv',
 '2_Brazil_soy_production.csv',
 '3_Argentina_soy_production.csv',
 '4_China_soy_production.csv',
 '5_India_soy_production.csv',
 '6_Paraguay_soy_production.csv',
 '7_Canada_soy_production.csv',
 '99_Africa_soy_production.csv',
 '99_Bolivia_soy_production.csv',
 '99_CentAmer_soy_production.csv',
 '99_RussianF_soy_production.csv'}

In [177]:
list_of_dfs = {}
for df, file in zip(csv_t, csv):
    list_of_dfs[df] = pd.read_csv(file)

In [178]:
df = pd.concat(list_of_dfs, axis=1)

In [278]:
names

{'1_US_soy_production.csv',
 '2_Brazil_soy_production.csv',
 '3_Argentina_soy_production.csv',
 '4_China_soy_production.csv',
 '5_India_soy_production.csv',
 '6_Paraguay_soy_production.csv',
 '7_Canada_soy_production.csv',
 '99_Africa_soy_production.csv',
 '99_Bolivia_soy_production.csv',
 '99_CentAmer_soy_production.csv',
 '99_RussianF_soy_production.csv'}

In [ ]:
117208380.0 *

In [353]:
df1

          Date  Brazil_Area  Brazil_Production
0   2016-12-31   33153679.0         96296714.0
1   2015-12-31   32181243.0         97464936.0
2   2014-12-31   30273763.0         86760520.0
3   2013-12-31   27906675.0         81724477.0
4   2012-12-31   24975258.0         65848857.0
5   2011-12-31   23968663.0         74815447.0
6   2010-12-31   23327296.0         68756343.0
7   2009-12-31   21750468.0         57345382.0
8   2008-12-31   21246302.0         59833104.0
9   2007-12-31   20565279.0         57857172.0
10  2006-12-31   22047348.0         52464640.0
11  2005-12-31   22948874.0         51182072.0
12  2004-12-31   21538990.0         49549940.0
13  2003-12-31   18524768.0         51919440.0
14  2002-12-31   16359441.0         42107618.0
15  2001-12-31   13985099.0         37907259.0
16  2000-12-31   13656771.0         32820826.0
17  1999-12-31   13061410.0         30987476.0
18  1998-12-31   13303656.0         31307440.0
19  1997-12-31   11486478.0         26392636.0
20  1996-12-31   10299470.0         23166874.0
21  1995-12-31   11675005.0         25682637.0
22  1994-12-31   11525410.0         24931832.0
23  1993-12-31   10635330.0         22590978.0
24  1992-12-31    9441390.0         19214704.0
25  1991-12-31    9616650.0         14937806.0
26  1990-12-31   11487300.0         19897804.0
27  1989-12-31   12200560.0         24051670.0
28  1988-12-31   10518370.0         18011650.0
29  1987-12-31    9129795.0         16977150.0
30  1986-12-31    9181587.0         13333360.0
31  1985-12-31   10153405.0         18278592.0
32  1984-12-31    9421202.0         15540792.0
33  1983-12-31    8137112.0         14582347.0
34  1982-12-31    8203277.0         12836047.0
35  1981-12-31    8501169.0         15007367.0
36  1980-12-31    8774023.0         15155804.0
37  1979-12-31    8256096.0         10240306.0
38  1978-12-31    7782187.0          9540577.0
39  1977-12-31    7070263.0         12513406.0
40  1976-12-31    6416368.0         11227123.0
41  1975-12-31    5824492.0          9893008.0
42  1974-12-31    5143367.0          7876527.0
43  1973-12-31    3615058.0          5011614.0
44  1972-12-31    2191455.0          3222631.0
45  1971-12-31    1716420.0          2077291.0
46  1970-12-31    1318809.0          1508540.0
47  1969-12-31     906073.0          1056607.0
48  1968-12-31     721913.0           654476.0
49  1967-12-31     612115.0           715606.0
50  1966-12-31     490687.0           594975.0
51  1965-12-31     431834.0           523176.0
52  1964-12-31     359622.0           304897.0
53  1963-12-31     339796.0           322915.0
54  1962-12-31     313640.0           345175.0
55  1961-12-31     240919.0           271488.0

In [341]:
df1 = df['Brazil_soy_production'].copy()
df2 = df['Argentina_soy_production'].copy()
df3 = df['China_soy_production'].copy()
df4 = df['India_soy_production'].copy()
df5 = df['Paraguay_soy_production'].copy()
df6 = df['Canada_soy_production'].copy()
df7 = df['RussianF_soy_production'].copy()
df8 = df['CentAmer_soy_production'].copy()
df9 = df['Bolivia_soy_production'].copy()
df9a = df['Africa_soy_production'].copy()

df1.drop(['f', 'l'], axis=1, inplace=True)
df2.drop(['f', 'l'], axis=1, inplace=True)
df3.drop(['f', 'l'], axis=1, inplace=True)
df4.drop(['f', 'l'], axis=1, inplace=True)
df5.drop(['f', 'l'], axis=1, inplace=True)
df6.drop(['f', 'l'], axis=1, inplace=True)
df7.drop(['f', 'l'], axis=1, inplace=True)
df8.drop(['f', 'l'], axis=1, inplace=True)
df9.drop(['f', 'l'], axis=1, inplace=True)
df9a.drop(['f', 'l'], axis=1, inplace=True)


df1.rename({'Area ' : 'Brazil_Area', 'Production ' : 'Brazil_Production'}, axis=1, inplace=True)
df2.rename({'Area ' : 'Argentina_Area', 'Production ' : 'Argentina_Production'}, axis=1, inplace=True)
df3.rename({'Area ' : 'China_Area', 'Production ' : 'China_Production'}, axis=1, inplace=True)
df4.rename({'Area ' : 'India_Area', 'Production ' : 'India_Production'}, axis=1, inplace=True)
df5.rename({'Area ' : 'Paraguay_Area', 'Production ' : 'Paraguay_Production'}, axis=1, inplace=True)
df6.rename({'Area ' : 'Canada_Area', 'Production ' : 'Canada_Production'}, axis=1, inplace=True)
df7.rename({'Area ' : 'RussianF_Area', 'Production ' : 'RussianF_Production'}, axis=1, inplace=True)
df8.rename({'Area ' : 'CentAmer_Area', 'Production ' : 'CentAmer_Production'}, axis=1, inplace=True)
df9.rename({'Area ' : 'Bolivia_Area', 'Production ' : 'Bolivia_Production'}, axis=1, inplace=True)
df9a.rename({'Area ' : 'Africa_Area', 'Production ' : 'Africa_Production'}, axis=1, inplace=True)

ALL = ALL.merge(df1, how='left', on='Date')
ALL = ALL.merge(df2, how='left', on='Date')
ALL = ALL.merge(df3, how='left', on='Date')
ALL = ALL.merge(df4, how='left', on='Date')
ALL = ALL.merge(df5, how='left', on='Date')
ALL = ALL.merge(df6, how='left', on='Date')
ALL = ALL.merge(df7, how='left', on='Date')
ALL = ALL.merge(df8, how='left', on='Date')
ALL = ALL.merge(df9, how='left', on='Date')
ALL = ALL.merge(df9a, how='left', on='Date')

In [342]:
ALL.columns

Index(['Date', 'US_Area', 'US_Production', 'Brazil_Area', 'Brazil_Production',
       'Argentina_Area', 'Argentina_Production', 'China_Area',
       'China_Production', 'India_Area', 'India_Production', 'Paraguay_Area',
       'Paraguay_Production', 'Canada_Area', 'Canada_Production',
       'RussianF_Area', 'RussianF_Production', 'CentAmer_Area',
       'CentAmer_Production', 'Bolivia_Area', 'Bolivia_Production',
       'Africa_Area', 'Africa_Production'],
      dtype='object')

In [364]:
9.500 / 11.500

0.8260869565217391

In [380]:
8 / 6.552

1.221001221001221

In [381]:
ALL.at[0, 'Brazil_Production'] = 1000000 * 112.000 * 0.981595
ALL.at[0, 'Argentina_Production'] = 1000000 * 54.000
ALL.at[0, 'China_Production'] = 1000000 * 14.200 * 0.7100775
ALL.at[0, 'India_Production'] = 3204639 * 0.71
ALL.at[0, 'Paraguay_Production'] = 5827100 * 0.863
ALL.at[0, 'Canada_Production'] = 2119814 * 1.221
ALL.at[0, 'RussianF_Production'] = 14008000 
ALL.at[0, 'CentAmer_Production'] = 11966328
ALL.at[0, 'Bolivia_Production'] = 3135177 
ALL.at[0, 'Africa_Production'] = 5687783

In [ ]:
# China projected grow area 2017 to 2018 will increase 7.8%

In [437]:
ALL.at[0, 'US_Area'] = 1000000 * 0.404686 * 90.1
ALL.at[0, 'Brazil_Area'] = 1000000 * 35
ALL.at[0, 'Argentina_Area'] = 19504650 * 1.052
ALL.at[0, 'China_Area'] = 3370000.0 * 1.098
ALL.at[0, 'India_Area'] = 1322992
ALL.at[0, 'Paraguay_Area'] = 1000000 * 3.5
ALL.at[0, 'Canada_Area'] = 1979024 * 1.333
ALL.at[0, 'RussianF_Area'] =  11500000.0
ALL.at[0, 'CentAmer_Area'] = 6640882.0
ALL.at[0, 'Bolivia_Area'] = 2120014.0 
ALL.at[0, 'Africa_Area'] = 302475.0

In [438]:
ALL.columns

Index(['Date', 'US_Area', 'US_Production', 'Brazil_Area', 'Brazil_Production',
       'Argentina_Area', 'Argentina_Production', 'China_Area',
       'China_Production', 'India_Area', 'India_Production', 'Paraguay_Area',
       'Paraguay_Production', 'Canada_Area', 'Canada_Production',
       'RussianF_Area', 'RussianF_Production', 'CentAmer_Area',
       'CentAmer_Production', 'Bolivia_Area', 'Bolivia_Production',
       'Africa_Area', 'Africa_Production'],
      dtype='object')

In [447]:
('China_Area')[-4:]

'Area'

In [466]:
del k

In [474]:
k

123705762.39199999

In [473]:
k = 0
for i in ALL.loc[0][1::2]:

    k += i
    print (i)
    
print (k)

36462208.599999994
35000000.0
20518891.8
3700260.0000000005
1322992.0
3500000.0
2638038.992
11500000.0
6640882.0
2120014.0
302475.0
123705762.39199999

In [476]:
ALL_area_prod = ALL.copy()

In [92]:
for file in csv:
    for title in csv_t:
        title = pd.read_csv(file)

In [393]:
alldfs = [var for var in dir() if isinstance(eval(var), pd.core.frame.DataFrame)]

print(alldfs) # df1, df2

['ALL', 'ALL_test', 'US', 'US_', '_', '_12', '_128', '_130', '_132', '_134', '_136', '_138', '_14', '_143', '_146', '_150', '_153', '_17', '_179', '_182', '_184', '_190', '_192', '_194', '_198', '_200', '_203', '_21', '_213', '_217', '_218', '_220', '_223', '_225', '_228', '_230', '_232', '_233', '_236', '_237', '_239', '_241', '_242', '_243', '_246', '_252', '_254', '_260', '_262', '_263', '_264', '_266', '_268', '_27', '_270', '_280', '_281', '_282', '_283', '_286', '_288', '_296', '_297', '_30', '_305', '_307', '_309', '_311', '_314', '_316', '_318', '_320', '_33', '_332', '_335', '_336', '_339', '_344', '_346', '_348', '_35', '_350', '_351', '_352', '_353', '_357', '_359', '_363', '_366', '_368', '_37', '_370', '_372', '_374', '_377', '_379', '_382', '_384', '_385', '_388', '_391', '_64', '_65', '_69', '_71', 'data', 'df', 'df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df9a', 'dfd', 'title', 'value', 'what']

In [336]:
US_

          Date     US_Area  US_Production
0   2017-12-31         0.0    119518000.0
1   2016-12-31  33482430.0    117208380.0
2   2015-12-31  33123470.0    106953940.0
3   2014-12-31  33423750.0    106877870.0
4   2013-12-31  30858830.0     91389350.0
5   2012-12-31  30814720.0     82790870.0
6   2011-12-31  29856410.0     84291400.0
7   2010-12-31  31003300.0     90663290.0
8   2009-12-31  30906980.0     91469550.0
9   2008-12-31  30222650.0     80748700.0
10  2007-12-31  25959240.0     72859180.0
11  2006-12-31  30190680.0     87000620.0
12  2005-12-31  28834570.0     83506580.0
13  2004-12-31  29930060.0     85015630.0
14  2003-12-31  29330310.0     66782720.0
15  2002-12-31  29338810.0     75010030.0
16  2001-12-31  29532250.0     78671470.0
17  2000-12-31  29302790.0     75055290.0
18  1999-12-31  29318170.0     72223460.0
19  1998-12-31  28506770.0     74598180.0
20  1997-12-31  27968130.0     73175780.0
21  1996-12-31  25636710.0     64780440.0
22  1995-12-31  24906240.0     59173500.0
23  1994-12-31  24608790.0     68443520.0
24  1993-12-31  23191570.0     50885390.0
25  1992-12-31  23566310.0     59611670.0
26  1991-12-31  23476470.0     54064730.0
27  1990-12-31  22869008.0     52416000.0
28  1989-12-31  24033008.0     52350000.0
29  1988-12-31  23218000.0     42153008.0
30  1987-12-31  23136000.0     52737008.0
31  1986-12-31  23590000.0     52868000.0
32  1985-12-31  24922000.0     57128000.0
33  1984-12-31  26755008.0     50648000.0
34  1983-12-31  25302608.0     44518400.0
35  1982-12-31  28101808.0     59611104.0
36  1981-12-31  26774800.0     54436000.0
37  1980-12-31  27442608.0     48921904.0
38  1979-12-31  28466400.0     61526304.0
39  1978-12-31  25763776.0     50860000.0
40  1977-12-31  23402640.0     48097936.0
41  1976-12-31  19991600.0     35071008.0
42  1975-12-31  21697728.0     42139728.0
43  1974-12-31  20776672.0     33102464.0
44  1973-12-31  22527328.0     42117936.0
45  1972-12-31  18486992.0     34580864.0
46  1971-12-31  17281856.0     32008768.0
47  1970-12-31  17097328.0     30675152.0
48  1969-12-31  16728257.0     30838992.0
49  1968-12-31  16750110.0     30126976.0
50  1967-12-31  16108287.0     26574768.0
51  1966-12-31  14789000.0     25270000.0
52  1965-12-31  13941000.0     23014000.0
53  1964-12-31  12461000.0     19076000.0
54  1963-12-31  11580000.0     19028000.0
55  1962-12-31  11172000.0     18213008.0
56  1961-12-31  10928000.0     18468000.0

In [290]:
pd.date_range(start='1961-12-31', end='2017-12-31')

DatetimeIndex(['1961-12-31', '1962-01-01', '1962-01-02', '1962-01-03',
               '1962-01-04', '1962-01-05', '1962-01-06', '1962-01-07',
               '1962-01-08', '1962-01-09',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=20455, freq='D')

In [ ]:
ALL['Date'] = pd.to_datetime(ALL['Date'])

In [291]:
path

'/Users/AnthonyCelio/ad/falcon/soy/'

In [477]:
ALL.to_csv(f'{path}00_All_country_prod_area.csv', index=False)

In [481]:
pd.concat??

In [500]:
pd.DataFrame??

In [502]:
wh = test.insert(0, {'Date', 'US_Area', 'US_Production', 'Brazil_Area', 'Brazil_Production',
       'Argentina_Area', 'Argentina_Production', 'China_Area',
       'China_Production', 'India_Area', 'India_Production', 'Paraguay_Area',
       'Paraguay_Production', 'Canada_Area', 'Canada_Production',
       'RussianF_Area', 'RussianF_Production', 'CentAmer_Area',
       'CentAmer_Production', 'Bolivia_Area', 'Bolivia_Production',
       'Africa_Area', 'Africa_Production'])

In [542]:
ALL.loc[-1] = 0
ALL.index = ALL.index + 1
ALL.sort_index(inplace=True)

In [544]:
ALL.loc[0, 'Date'] = (pd.to_datetime('2018-12-31'))

In [494]:
wonk = pd.DataFrame([pd.to_datetime('2018-12-31')]).rename(columns={0: 'Date'}, inplace=True)

In [571]:
124.8 + 120.5 + 57.0 + 4.5 + 10.8 + 9.8 + 7.3

334.70000000000005

In [570]:
#   2018-2019 ESTIMATES
#        'US_Production' 124.8, 'Brazil_Production' 120.5, 'Argentina_Production' 57.0,
#       'China_Production' 14.5, 'India_Production' 10.8, 'Paraguay_Production' 9.8,
#       'Canada_Production' 7.3, 'RussianF_Production', 'CentAmer_Production',
#       'Bolivia_Production', 'Africa_Production']

# WORLD ESTIMATE 367.1

Index(['Date', 'US_Production', 'Brazil_Production', 'Argentina_Production',
       'China_Production', 'India_Production', 'Paraguay_Production',
       'Canada_Production', 'RussianF_Production', 'CentAmer_Production',
       'Bolivia_Production', 'Africa_Production'],
      dtype='object')

In [585]:
sum([i for i in (ALL.loc[0][::2])[1:]])

332081501.52

In [583]:
336.7 - 334.1329

2.567099999999982

In [608]:
ALL.loc[0, 'US_Production'] = 1000000 * 119.5

ALL.loc[0, 'Brazil_Production'] = 1000000 * 119.5
ALL.loc[0, 'Argentina_Production'] = 1000000 * 37.0
ALL.loc[0, 'China_Production'] = 1000000 * 14.2
ALL.loc[0, 'Canada_Production'] = 1000000 * 8
ALL.loc[0, 'Paraguay_Production'] = 1000000 * 10.0
ALL.loc[0, 'India_Production'] = 1000000 * 8.4

ALL.loc[0, 'RussianF_Production'] = 14008000.0 * 1.073 * 1.03
ALL.loc[1, 'RussianF_Production'] = 14008000.0 * 1.073

ALL.loc[0, 'CentAmer_Production'] = 11966328.0
ALL.loc[0, 'Bolivia_Production'] = 3135177.0
ALL.loc[1, 'Bolivia_Production'] = 3135177.0 * .989

ALL.loc[0, 'Africa_Production'] = 568778.0

In [588]:
ALL.columns[1::2]

Index(['US_Area', 'Brazil_Area', 'Argentina_Area', 'China_Area', 'India_Area',
       'Paraguay_Area', 'Canada_Area', 'RussianF_Area', 'CentAmer_Area',
       'Bolivia_Area', 'Africa_Area'],
      dtype='object')

In [594]:
1 * 2.47105 * 19

46.94995

In [ ]:
3700260 + 82370

In [601]:
([i for i in ALL.loc[1][1::2]])

[36462208.599999994,
 35000000.0,
 20518891.8,
 3700260.0000000005,
 1322992.0,
 3500000.0,
 2638038.992,
 11500000.0,
 6640882.0,
 2120014.0,
 302475.0]

In [604]:
ALL.loc[0, 'US_Area'] = 36462208 * .99
ALL.loc[0, 'Brazil_Area'] = 35000000.0 * 1.05
ALL.loc[0, 'Argentina_Area'] = 1000000 * 19
ALL.loc[0, 'China_Area'] = 3700260 + 82370

ALL.loc[0, 'India_Area'] = 1322992 * 1.01
ALL.loc[0, 'Paraguay_Area'] = 3500000 * 1.021
ALL.loc[0, 'Canada_Area'] = 2638038 * .99
ALL.loc[0, 'RussianF_Area'] = 11500000.0 * .993
ALL.loc[0, 'CentAmer_Area'] = 6640882.0 * .99
ALL.loc[0, 'Bolivia_Area'] = 2120014.0 * 1.01
ALL.loc[0, 'Africa_Area'] = 302475.0 * .98

In [609]:
ALL

,Date,US_Area,US_Production,Brazil_Area,Brazil_Production,Argentina_Area,Argentina_Production,China_Area,China_Production,India_Area,India_Production,Paraguay_Area,Paraguay_Production,Canada_Area,Canada_Production,RussianF_Area,RussianF_Production,CentAmer_Area,CentAmer_Production,Bolivia_Area,Bolivia_Production,Africa_Area,Africa_Production
0,2018-12-31,36097585.92,119500000.0,36750000.0,119500000.0,19000000.0,37000000.0,3782630.0,14200000.0,1336221.92,8400000.00,3573500.0,10000000.0,2611657.620,8000000.000,11419500.0,15481501.52,6574473.18,11966328.0,2141214.14,3135177.000,296425.5,568778.0
1,2017-12-31,36462208.60,119518000.0,35000000.0,109938640.0,20518891.8,54000000.0,3700260.0,10083100.5,1322992.00,2275293.69,3500000.0,5028787.3,2638038.992,2588292.894,11500000.0,15030584.00,6640882.00,11966328.0,2120014.00,3100690.053,302475.0,568778.0
2,2016-12-31,33482430.00,117208380.0,33153679.0,96296714.0,19504648.0,58799258.0,3370000.0,9163030.0,1336399.00,3204639.00,2190500.0,5827100.0,1979024.000,2119814.000,11500000.0,14008000.00,6640882.00,11966328.0,2120014.00,3135177.000,302475.0,568778.0
3,2015-12-31,33123470.00,106953940.0,32181243.0,97464936.0,19334915.0,61398276.0,3540000.0,8856302.0,1322992.00,3105938.00,2197400.0,6371000.0,2052112.000,2629862.000,11670000.0,8570000.00,6507748.00,11787725.0,2084420.00,2708170.000,275742.0,396486.0
4,2014-12-31,33423750.00,106877870.0,30273763.0,86760520.0,19252552.0,53397715.0,3500000.0,9975000.0,1282455.00,2814321.00,2235100.0,6048600.0,1785520.000,2496689.000,11086000.0,10374000.00,6800568.00,12155173.0,1915895.00,2363562.000,228928.0,438496.0
5,2013-12-31,30858830.00,91389350.0,27906675.0,81724477.0,19418824.0,49306200.0,3080000.0,9086000.0,1222855.00,2826726.00,1860100.0,5358900.0,1817017.000,2050481.000,11716430.0,11861000.00,6790969.00,11951879.0,1200075.00,1517152.000,181864.0,294841.0
6,2012-12-31,30814720.00,82790870.0,24975258.0,65848857.0,17577320.0,40100196.0,2920000.0,4344960.0,1292826.00,2661910.00,1679000.0,5086400.0,1711410.000,1973932.000,10840000.0,14666000.00,7171140.00,13011059.0,1375167.00,1683123.000,164296.0,298980.0
7,2011-12-31,29856410.00,84291400.0,23968663.0,74815447.0,18764850.0,48888536.0,2805467.0,8309793.0,1177541.00,1861038.00,1554200.0,4466500.0,1517695.000,1732706.000,10180000.0,12214000.00,7888595.00,14485405.0,1187372.00,1640966.000,175557.0,253746.0
8,2010-12-31,31003300.00,90663290.0,23327296.0,68756343.0,18130800.0,52675464.0,2671059.0,7460435.0,1086769.00,1693048.00,1505900.0,4444600.0,1099664.000,1458082.000,9554190.0,12736000.00,8515865.00,15083504.0,1036263.00,1222371.000,173273.0,222640.0
9,2009-12-31,30906980.00,91469550.0,21750468.0,57345382.0,16771003.0,30993380.0,2570000.0,3855000.0,902218.00,1892619.00,1411700.0,3581600.0,1332779.000,1475663.000,9734700.0,9964500.00,9189913.00,14981721.0,794233.00,943660.000,83333.0,165861.0
10,2008-12-31,30222650.00,80748700.0,21246302.0,59833104.0,16387438.0,46238088.0,2463510.0,6311794.0,785793.00,1259676.00,1195400.0,3335900.0,1188402.000,1327287.000,9510800.0,9905400.00,9127184.00,15541741.0,712460.00,745990.000,93181.0,196438.0
11,2007-12-31,25959240.00,72859180.0,20565279.0,57857172.0,15981264.0,47482784.0,2400000.0,6000000.0,958279.00,1595947.00,1167400.0,2686200.0,1357917.000,1411189.000,8880000.0,10968000.00,8753908.00,12725147.0,709900.00,650180.000,79570.0,131115.0
12,2006-12-31,30190680.00,87000620.0,22047348.0,52464640.0,15130038.0,40537364.0,2200000.0,3800000.0,950118.00,1618966.00,1201200.0,3465500.0,1335083.000,1498482.000,8334000.0,8857000.00,9304505.00,15081987.0,810130.00,804536.000,71250.0,124163.0
13,2005-12-31,28834570.00,83506580.0,22948874.0,51182072.0,14032198.0,38289744.0,1970000.0,3988000.0,941068.00,1693087.00,1165200.0,3155600.0,1208944.000,1317271.000,7707500.0,8273500.00,9590850.00,16348013.0,655840.00,686099.000,114626.0,233366.0
14,2004-12-31,29930060.00,85015630.0,21538990.0,49549940.0,14304539.0,31576752.0,1870000.0,3583680.0,803990.00,1585846.00,1173500.0,3043900.0,1143374.000,1173356.000,7571200.0,6876300.00,9588885.00,17401780.0,555300.00,554236.000,108159.0,181181.0
15,2003-12-31,29330310.00,66782720.0,18524768.0,51919440.0,12419995.0,34818552.0,1474148.0,4204865.0,684213.00,1586031.00,1048600.0,2273300.0,1031071.000,1009651.000,6554700.0,7818900.00,9313065.00,15393541.0,399490.00,392477.000,88377.0,173907.0
16,2002-12-31,29338810.00,75010030.0,16359441.0,42107618.0,11405247.0,30000000.0,1445360.0,3300000.0,637124.00,1246495.00,1023800.0,2335700.0,989329.000,1029535.000,6105500.0,4654700.00,8719719.00,16505768.0,362420.00,422530.000,74930.0,131628.0
17,2001-12-31,29532250.00,78671470.0,13985099.0,37907259.0,10400193.0,26880852.0,1350000.0,3511050.0,615292.00,1152270.00,1068900.0,1635200.0,953913.000,1026157.000,6343100.0,5962700.00,9481868.00,15405928.0,371900.00,349635.000,89264.0,162617.0
18,2000-12-31,29302790.00,75055290.0,13656771.0,32820826.0,8637503.0,20135800.0,1176460.0,2980058.0,616964.00,1197251.00,1060700.0,2703000.0,898500.000,945337.000,6416600.0,5275800.00,9306733.00,15409295.0,337260.00,341754.000,85984.0,144767.0
19,1999-12-31,29318170.00,72223460.0,13061410.0,30987476.0,8180000.0,20000000.0,1165748.0,3053005.0,627870.00,967625.00,1004000.0,2780900.0,880887.000,928500.000,6222500.0,7081400.00,7962173.00,14245652.0,404490.00,334396.000,102974.0,189176.0
20,1998-12-31,28506770.00,74598180.0,13303656.0,31307440.0,6954120.0,18732172.0,1086043.0,2855742.0,588667.00,1120286.00,980100.0,2736600.0,922849.000,937225.000,6493000.0,7143000.00,8500855.00,15153263.0,377400.00,295031.000,124523.0,214064.0
21,1997-12-31,27968130.00,73175780.0,11486478.0,26392636.0,6393780.0,11004890.0,939652.0,2670003.0,527050.00,994557.00,1059600.0,2737700.0,840800.000,751906.000,5990200.0,6463100.00,8348163.00,14736222.0,317880.00,279536.000,158719.0,271931.0
22,1996-12-31,25636710.00,64780440.0,10299470.0,23166874.0,5913415.0,12448200.0,833005.0,2394794.0,463243.00,867488.00,862200.0,2170000.0,803706.000,708322.000,5233000.0,5400000.00,7475594.00,13233693.0,485140.00,282893.000,79813.0,131782.0
23,1995-12-31,24906240.00,59173500.0,11675005.0,25682637.0,5934160.0,12133000.0,735503.0,2212109.0,428326.00,870074.00,824000.0,2297500.0,924289.000,661474.000,5035000.0,5096000.00,8130544.00,13510894.0,487090.00,290240.000,163038.0,259261.0
24,1994-12-31,24608790.00,68443520.0,11525410.0,24931832.0,5748910.0,11719900.0,694117.0,1795792.0,316689.00,708968.00,821100.0,2253700.0,878442.000,570859.000,4318000.0,3931900.00,9227491.00,16011005.0,580050.00,421542.000,313357.0,584657.0
25,1993-12-31,23191570.00,50885390.0,10635330.0,22590978.0,5116235.0,11045400.0,634993.0,1793544.0,213674.00,491451.00,747900.0,1944900.0,817531.000,536765.000,4370500.0,4745200.00,9459499.00,15319715.0,625090.00,496791.000,261459.0,557046.0
26,1992-12-31,23566310.00,59611670.0,9441390.0,19214704.0,4935710.0,11310000.0,594720.0,1192074.0,221931.00,342463.00,622900.0,1455300.0,840378.000,488602.000,3789000.0,3390000.00,7224840.00,10312562.0,645370.00,505360.000,345409.0,648089.0
27,1991-12-31,23476470.00,54064730.0,9616650.0,14937806.0,4774500.0,10862000.0,552657.0,1032676.0,193289.00,393618.00,598000.0,1460000.0,820503.000,673739.000,3184800.0,2492000.00,7045042.00,9721333.0,NaN,NaN,366308.0,781806.0
28,1990-12-31,22869008.00,52416000.0,11487300.0,19897804.0,4961600.0,10700000.0,899900.0,1794618.0,143372.00,232743.00,483600.0,1262000.0,1034300.000,701066.000,2564200.0,2601500.00,7563788.00,11008140.0,NaN,NaN,309996.0,631785.0
29,1989-12-31,24033008.00,52350000.0,12200560.0,24051670.0,3931250.0,6500000.0,851300.0,1614573.0,129366.00,260249.00,539500.0,1218700.0,976569.000,688177.000,2253000.0,1805600.00,8063021.00,10238956.0,NaN,NaN,512786.0,1041330.0
30,1988-12-31,23218000.00,42153008.0,10518370.0,18011650.0,4373200.0,9900000.0,765500.0,1407362.0,75483.00,151100.00,533000.0,1152600.0,668070.000,542018.000,1734100.0,1547100.00,8127699.00,11659641.0,NaN,NaN,163246.0,272502.0
31,1987-12-31,23136000.00,52737008.0,9129795.0,16977150.0,3532650.0,6700000.0,673500.0,1310000.0,60500.00,121560.00,461000.0,1269700.0,522550.000,441655.000,1542600.0,898300.00,8453945.00,12202043.0,NaN,NaN,490811.0,867636.0
32,1986-12-31,23590000.00,52868000.0,9181587.0,13333360.0,3316000.0,7100000.0,539300.0,810000.0,72518.00,149779.00,384400.0,959800.0,390659.000,367285.000,1526800.0,891400.00,8305277.00,11628890.0,NaN,NaN,392889.0,725431.0
33,1985-12-31,24922000.00,57128000.0,10153405.0,18278592.0,3269000.0,6500000.0,718800.0,1172467.0,60518.00,83264.00,405000.0,1012000.0,370824.000,377706.000,1339700.0,1024100.00,7725111.00,10512210.0,NaN,NaN,488311.0,943493.0
34,1984-12-31,26755008.00,50648000.0,9421202.0,15540792.0,2910000.0,7000000.0,638800.0,975404.0,47614.00,77860.00,405000.0,917000.0,383178.000,354047.000,1242700.0,954800.00,7291535.00,9704545.0,NaN,NaN,398561.0,696447.0
35,1983-12-31,25302608.00,44518400.0,8137112.0,14582347.0,2280700.0,4000000.0,576800.0,849733.0,33137.00,51852.00,364000.0,735000.0,380399.000,351083.000,836000.0,614300.00,7565192.00,9768592.0,NaN,NaN,397919.0,697362.0
36,1982-12-31,28101808.00,59611104.0,8203277.0,12836047.0,1985600.0,4150000.0,502200.0,756600.0,48750.00,86305.00,364000.0,848000.0,525291.000,419742.000,770000.0,491000.00,8417782.00,9042043.0,NaN,NaN,379127.0,654347.0
37,1981-12-31,26774800.00,54436000.0,8501169.0,15007367.0,1880000.0,3770000.0,396100.0,761200.0,34830.00,57980.00,279200.0,606800.0,451426.000,358617.000,475000.0,352000.00,8025312.00,9340883.0,NaN,NaN,363858.0,709597.0
38,1980-12-31,27442608.00,48921904.0,8774023.0,15155804.0,2030000.0,3500000.0,475300.0,537300.0,37580.00,47595.00,277200.0,690000.0,423149.000,339734.000,608000.0,442000.00,7234329.00,7965934.0,NaN,NaN,155287.0,324205.0
39,1979-12-31,28466400.00,61526304.0,8256096.0,10240306.0,1600000.0,3700000.0,360300.0,549200.0,28390.00,40805.00,279200.0,657000.0,396837.000,327037.000,496000.0,282000.00,7258333.00,7491782.0,NaN,NaN,380667.0,709042.0
40,1978-12-31,25763776.00,50860000.0,7782187.0,9540577.0,1150000.0,2500000.0,272200.0,333130.0,19430.00,26225.00,285299.0,515580.0,362684.000,308253.000,306000.0,299000.00,7168473.00,7610824.0,NaN,NaN,217714.0,335860.0
41,1977-12-31,23402640.00,48097936.0,7070263.0,12513406.0,660000.0,1400000.0,228800.0,376859.0,7580.00,11255.00,222600.0,580000.0,323289.000,214047.000,195000.0,183000.00,6868117.00,7311718.0,NaN,NaN,315471.0,518115.0
42,1976-12-31,19991600.00,35071008.0,6416368.0,11227123.0,433500.0,695000.0,173400.0,283547.0,12100.00,15370.00,152969.0,250387.0,296536.000,177483.000,125000.0,123000.00,6719549.00,6692998.0,NaN,NaN,173507.0,304137.0
43,1975-12-31,21697728.00,42139728.0,5824492.0,9893008.0,355940.0,485000.0,150200.0,220086.0,9450.00,11930.00,157825.0,366817.0,272200.000,151128.000,93000.0,91000.00,7033446.00,7301920.0,NaN,NaN,345230.0,599974.0
44,1974-12-31,20776672.00,33102464.0,5143367.0,7876527.0,334440.0,496000.0,127300.0,181262.0,5800.00,8000.00,167942.0,280053.0,250784.000,135960.000,67000.0,51000.00,7298454.00,7536918.0,NaN,NaN,300218.0,491234.0
45,1973-12-31,22527328.00,42117936.0,3615058.0,5011614.0,157030.0,272000.0,81381.0,122541.0,2000.00,3400.00,190200.0,396537.0,243127.000,106221.000,48000.0,39000.00,7436491.00,8430596.0,NaN,NaN,311995.0,585624.0
46,1972-12-31,18486992.00,34580864.0,2191455.0,3222631.0,68000.0,78000.0,75800.0,97100.0,800.00,1200.00,163895.0,374764.0,240943.000,103891.000,34000.0,28000.00,7612123.00,6510221.0,NaN,NaN,221734.0,376950.0
47,1971-12-31,17281856.00,32008768.0,1716420.0,2077291.0,36330.0,59000.0,54600.0,75300.0,800.00,1200.00,148517.0,279671.0,236701.000,97545.000,32000.0,14000.00,7824151.00,8670990.0,NaN,NaN,129013.0,256018.0
48,1970-12-31,17097328.00,30675152.0,1318809.0,1508540.0,25970.0,26800.0,28300.0,41293.0,1000.00,1500.00,135568.0,282628.0,222630.000,97211.000,32000.0,14000.00,8019749.00,8775174.0,NaN,NaN,111844.0,214733.0
49,1969-12-31,16728257.00,30838992.0,906073.0,1056607.0,28200.0,31800.0,12220.0,34177.0,800.00,1200.00,130307.0,208576.0,193741.000,89000.000,32000.0,14000.00,8365277.00,7697111.0,NaN,NaN,163276.0,286840.0
50,1968-12-31,16750110.00,30126976.0,721913.0,654476.0,20200.0,22000.0,8400.0,28508.0,430.00,400.00,119381.0,245679.0,217295.000,90459.000,27000.0,12000.00,8403461.00,8112995.0,NaN,NaN,132982.0,275162.0
51,1967-12-31,16108287.00,26574768.0,612115.0,715606.0,17290.0,20500.0,12860.0,18411.0,313.00,300.00,117357.0,220205.0,193100.000,80884.000,27000.0,12000.00,8546302.00,8345226.0,NaN,NaN,69881.0,131023.0
52,1966-12-31,14789000.00,25270000.0,490687.0,594975.0,15689.0,18200.0,14280.0,21555.0,NaN,25.00,112906.0,245271.0,206050.000,77180.000,23000.0,10000.00,8468326.00,8333271.0,NaN,NaN,54243.0,94848.0
53,1965-12-31,13941000.00,23014000.0,431834.0,523176.0,16422.0,17000.0,11250.0,21654.0,NaN,NaN,107240.0,218544.0,209964.000,73067.000,23000.0,10000.00,8637176.00,6205709.0,NaN,NaN,27446.0,57875.0
54,1964-12-31,12461000.00,19076000.0,359622.0,304897.0,12220.0,14000.0,6250.0,19098.0,NaN,NaN,93481.0,189859.0,207945.000,76781.000,18000.0,8000.00,10049620.00,7927616.0,NaN,NaN,30629.0,60207.0
55,1963-12-31,11580000.00,19028000.0,339796.0,322915.0,19302.0,18920.0,4500.0,8267.0,NaN,NaN,92267.0,136134.0,220995.000,87260.000,18000.0,8000.00,9678923.00,6962645.0,NaN,NaN,27426.0,56258.0
56,1962-12-31,11172000.00,18213008.0,313640.0,345175.0,9649.0,11220.0,1800.0,2900.0,NaN,NaN,89434.0,179817.0,214994.000,84594.000,11000.0,5000.00,9548938.00,6563011.0,NaN,NaN,27326.0,56721.0
57,1961-12-31,10928000.00,18468000.0,240919.0,271488.0,980.0,957.0,1300.0,2100.0,NaN,NaN,85792.0,180443.0,191071.000,71813.000,11000.0,5000.00,10006582.00,6263900.0,NaN,NaN,9943.0,20087.0

In [557]:
gg = [type(i) for i in ALL['Date']]

In [606]:
!pwd

/Users/AnthonyCelio/ad/falcon/soy

In [611]:
ALL.to_csv('/Users/AnthonyCelio/ad/falcon/soy/00_All_country_prod_area.csv', index=False)